body {
	margin: 0 20px;
}

@media screen and (min-width: 900px) {
	body {
		margin: 0 auto;
		width: 860px;
	}
}

footer {
	border-top: solid 1px #666;
	margin-top: 40px;
}

h2 {
	margin-top: 0;
}

.formwizard form input {
	padding: 5px;
	font-size: 16px;
}

.formwizard form .error {
	color: red;
}

.formwizard form input:invalid {
	border: solid 1px salmon;
}

.formwizard form input[type=text],
.formwizard form input[type=email] {
	min-width: 200px;
}

.formwizard form label.required::after {
	content: "*";
	color: #999;
	margin-left: 3px;
}

.formwizard form fieldset {
	padding: 20px;
	border-radius: 5px;
	border: dashed #999 1px;
}

.formwizard form button, .buttons a {
	font-size: 20px;
}

.formwizard form label {
	margin-right: 10px;
}

.formwizard form div + div {
	margin-top: 10px;
}

.formwizard .review {
	margin-bottom: 20px;
	background: #ccc;
	padding: 20px;
}

.formwizard .review p {
	margin: 0 0 10px;
}

.formwizard .buttons {
	padding-top: 20px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.formwizard .buttons a + a {
	margin-left: 10px;
}

/* so if only one button exists it shows on right side */
.formwizard .buttons button {
	margin-left: auto;
}

.formwizard__forms {
	margin: 40px 0 20px;
}

.formwizard__nav {
	margin: 0;
	padding: 10px 0;
	border: solid 1px #ccc;
	border-left: 0;
	border-right: 0;
}

.formwizard__nav li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	color: #999;
}

.formwizard__nav li span {
	padding: 10px;
}

.formwizard__nav li span.selected {
	background: #ccc;
	color: #333;
}
